[Unit]
Description=Zabbix Server
After=syslog.target
After=network.target
After=postgresql-9.6.service

[Service]
Type=forking
Restart=on-failure
ExecStart={{ zbx_install_prefix }}/sbin/zabbix_server -c {{ zbx_install_prefix }}/etc/zabbix_server.conf
RestartSec=10s

[Install]
WantedBy=multi-user.target