- name: Upload zabbix source code
  copy:
    src: zabbix-5.0.2.tar.gz
    dest: /tmp

- name: Unarchive zabbix source code
  unarchive:
    src: /tmp/zabbix-5.0.2.tar.gz
    dest: /tmp
    remote_src: yes

- name: Ensure Makefile is exists
  stat:
    path: "{{ zbx_source_clone_dir }}/Makefile"
  register: ensure_zbx_makefile_output

- name: Run ./configure
  shell: >
    chdir={{ zbx_source_clone_dir }}
    {{ zbx_source_configure_cmd }}
    make -j8 && make install
  when: not ensure_zbx_makefile_output.stat.exists

- name: Copy zabbix front web ui
  copy:
    src: "{{ zbx_source_clone_dir }}/ui"
    dest: "{{ zbx_front_webui }}"
    owner: nginx
    group: nginx
    directory_mode: yes
    remote_src: yes

- name: Configure nginx conf
  template:
    src: nginx_zabbix.conf.j2
    dest: /opt/nginx118/etc/conf.d/zabbix.conf

- name: Enable nginx daemon
  systemd:
    name: nginx118
    state: restarted
    enabled: yes