- name: Put SELinux in permissive mode
  selinux:
    policy: targeted
    state: permissive

- name: Ensure the .zbx_deps_installed exists
  stat:
    path: /tmp/.zbx_deps_installed
  register: ensure_zbx_deps_installed

- name: Install pids deps
  yum:
    disable_gpg_check: yes
    pkg:
      - python-psutil
      - python36-psutil
    state: present

  when: not ensure_zbx_deps_installed.stat.exists

- name: Check firewalld status
  pids:
    name: firewalld
  register: pids_of_firewalld

- name: Enable port
  firewalld:
    zone: public
    permanent: yes
    port: "{{ zbx_web_port }}/tcp"
    state: enabled
  when: pids_of_firewalld.pids | length != 0

- name: Reload firewalld daemon
  systemd:
    name: firewalld
    state: restarted
    daemon_reload: yes
  when: pids_of_firewalld.pids | length != 0

- name: Create zabbix group
  group:
    name: zabbix
    state: present

- name: Create zabbix user
  user:
    name: zabbix
    shell: /sbin/nologin
    group: zabbix
    state: present
    comment: Zabbix Monitoring System

- name: Create /usr/lib/zabbix directory
  file:
    path: /usr/lib/zabbix
    mode: u=rwx,g=rwx,o=
    owner: zabbix
    group: zabbix
    state: directory

- name: Install deps
  yum:
    disable_gpg_check: yes
    pkg:
      - libssh2-devel
      - postgresql-devel
      - OpenIPMI
      - OpenIPMI-libs
      - OpenIPMI-devel
      - OpenIPMI-modalias
      - unixODBC
      - unixODBC-devel
      - fping
      - libcurl-devel # 7.61.1
      - libxml2-devel
    state: present
  when: not ensure_zbx_deps_installed.stat.exists

- name: Install postgresql_db lib
  yum:
    disable_gpg_check: yes
    pkg:
      - python2-psycopg2
    state: present
  when: not ensure_zbx_deps_installed.stat.exists

- name: Create .zbx_deps_installed
  file:
    path: /tmp/.zbx_deps_installed
    state: touch