---
- name: Add China mirrors of Zabbix
  yum_repository:
      name: Zabbix
      description: Zabbix version
      baseurl: https://mirrors.aliyun.com/zabbix/zabbix/4.4/rhel/7/$basearch/
      gpgkey: https://mirrors.aliyun.com/zabbix/RPM-GPG-KEY-ZABBIX
      gpgcheck: no

- name: Add China mirrors of MariaDB10.4
  yum_repository:
      name: mariadb104
      description: 10.4 version of mariadb
      baseurl: https://mirrors.aliyun.com/mariadb/yum/10.4/centos7-amd64/
      gpgkey: https://mirrors.aliyun.com/mariadb/yum/RPM-GPG-KEY-MariaDB
      gpgcheck: yes

- name: Add China mirrors of Centos7 base
  get_url:
    url: http://mirrors.aliyun.com/repo/Centos-7.repo
    dest: /etc/yum.repos.d/CentOS-7.repo

- name: Add China mirrors of epel-release
  get_url:
    url: http://mirrors.aliyun.com/repo/epel-7.repo
    dest: /etc/yum.repos.d/epel.repo

- name: Start install zabbix
  yum:
    update_cache: yes
    pkg:
      - MariaDB-client
      - MariaDB-server
      - MySQL-python
      - nginx
      - zabbix-nginx-conf
      - zabbix-server-mysql-{{zbx_version}}
      - zabbix-web-mysql-{{zbx_version}}
      - zabbix-web-{{ zbx_version }}
    state: installed

- name: Enable MariaDB
  systemd:
    name: mariadb
    state: started
    enabled: yes

- name: Create zabbix database
  mysql_db:
      name: zabbix
      login_port: '{{ mysql_port }}'
      login_host: '{{ mysql_host }}'
      login_user: '{{ mysql_super }}'
      login_password: '{{ mysql_super_pass }}'
      login_unix_socket: '{{ mysql_socket }}'
      encoding: 'utf8'
      state: present

- name: Create zabbix user
  mysql_user:
    login_user: '{{ mysql_super }}'
    login_password: '{{ mysql_super_pass }}'
    login_host: '{{ mysql_host }}'
    login_port: '{{ mysql_port }}'
    name: '{{ mysql_zbx_user }}'
    host: localhost
    priv: '*.*:ALL'
    password: '{{ mysql_zbx_pass }}'
    login_unix_socket: '{{ mysql_socket }}'
    state: present
  no_log: True

- name: Copy create.sql to remote host
  copy:
    src: create.sql
    dest: /tmp/create.sql

- name: Import zabbix schema
  mysql_db:
      name: zabbix
      login_host: '{{ mysql_host }}'
      login_user: '{{ mysql_super }}'
      login_port: '{{ mysql_port }}'
      login_password: '{{ mysql_super_pass }}'
      login_unix_socket: '{{ mysql_socket }}'
      target: '/tmp/create.sql'
      state: "import"

- name: Init zabbix server config
  template:
    src: zabbix_server.conf.j2
    dest: /etc/zabbix/zabbix_server.conf
  notify:
    - enable zabbix-server
    - enable nginx
